<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Document</title>
  <!-- style -->
  <link rel="stylesheet" href="./css/index.css">
</head>

<body>
  <div class="wrap">
    <div class="play_wrap" id="player">
      <div class="search_bar">
        <img src="images/player_title.png" alt="" />
        <!-- search for songs -->
        <input type="text" autocomplete="off" v-model='query' @keyup.enter="searchMusic();" />
      </div>
      <div class="center_con">
        <!-- search for song list -->
        <div class='song_wrapper' ref='song_wrapper'>
          <ul class="song_list">
            <li v-for="item in musicList">
              <!-- click to play music -->
              <a href="javascript:;" @click='playMusic(item.id)'></a>
              <b>{{item.name}}</b>
              <span>
                <i @click="playMv(item.mvid)" v-if="item.mvid!=0"></i>
              </span>
            </li>

          </ul>
          <img src="images/line.png" class="switch_btn" alt="">
        </div>
        <!-- music information -->
        <div class="player_con" :class="{playing:isPlay}">
          <img src="images/player_bar.png" class="play_bar" />
          <!-- disk animation -->
          <img src="images/disc.png" class="disc autoRotate" />
          <img :src="coverUrl==''?'./images/cover.png':coverUrl" class="cover autoRotate" />
        </div>
        <!-- comments -->
        <div class="comment_wrapper" ref='comment_wrapper'>
          <h5 class='title'>Popular Comments</h5>
          <div class='comment_list'>

            <dl v-for="item in hotComments">
              <dt>
                <img :src="item.user.avatarUrl" alt="" />
              </dt>
              <dd class="name">{{item.user.nickname}}</dd>
              <dd class="detail">
                {{item.content}}
              </dd>
            </dl>
          </div>
          <img src="images/line.png" class="right_line">
        </div>
      </div>
      <div class="audio_con">
        <audio ref='audio' @play="play" @pause="pause" :src="musicUrl" controls autoplay loop class="myaudio"></audio>
      </div>
      <div class="video_con" v-show="showVideo">
        <video ref='video' :src="mvUrl" controls="controls"></video>
        <div class="mask" @click="closeMv"></div>
      </div>
    </div>
  </div>
  <!-- vue -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <!-- axios -->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script type="text/javascript">
    axios.defaults.baseURL = 'https://autumnfish.cn';
    // axios.defaults.baseURL = 'http://localhost:3000';



    // instantiate vue
    var app = new Vue({
      el: "#player",
      data: {
        // keyword
        query: '',
        // musiclist
        musicList: [],
        // music url
        musicUrl: '',
        // whether music is playing
        isPlay: false,
        // popular comments
        hotComments: [],
        // music cover page
        coverUrl: '',
        // video player
        showVideo: false,
        // mv url
        mvUrl: ''
      },
      // methods
      methods: {
        // search music
        searchMusic() {
          if (this.query == 0) {
            return
          }
          axios.get('/search?keywords=' + this.query).then(response => {
            // save contents
            this.musicList = response.data.result.songs;

          })

          // clear search
          this.query = ''
        },
        // play music
        playMusic(musicId) {
          // retrive music url
          axios.get('/song/url?id=' + musicId).then(response => {
            // save music url
            this.musicUrl = response.data.data[0].url
          })
          // retrive popular comment
          axios.get('/comment/hot?type=0&id=' + musicId).then(response => {
            // console.log(response)
            // save comments
            this.hotComments = response.data.hotComments

          })
          // retrive music cover 
          axios.get('/song/detail?ids=' + musicId).then(response => {
            // console.log(response)
            // set cover
            this.coverUrl = response.data.songs[0].al.picUrl
          })

        },
        // audio play
        play() {
          this.isPlay = true
          // 清空mv的信息
          this.mvUrl = ''
        },
        // audio pause
        pause() {
          this.isPlay = false
        },
        // play mv
        playMv(vid) {
          if (vid) {
            this.showVideo = true;
            // retrive mv info
            axios.get('/mv/url?id=' + vid).then(response => {
              // console.log(response)
              // pause music
              this.$refs.audio.pause()
              // retrive mv url
              this.mvUrl = response.data.data.url
            })
          }
        },
        // close mv interface
        closeMv() {
          this.showVideo = false
          this.$refs.video.pause()
        },
        // search in history
        historySearch(history) {
          this.query = history
          this.searchMusic()
          this.showHistory = false;
        }
      },

    })

  </script>
</body>

</html>
